h2 {
    text-align: center;
    font-size: large;
}

a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

a:active {
    text-decoration: underline;
}

.month th {
    text-align: center;
    border-style: solid;
    border-width: 1px;
    border-radius: 15px;
}

.month tr, .month td {
    text-align: left;
    border-style: solid;
    border-width: 1px;
}

#empty {
    border-width: 0px;
}

.mainRow {
    margin: 0px;
}

#left {
    float: left;
    width: calc(100% / 3);
}

#right {
    float: left;
    width: calc(100% / 3);
}

body {
    border-width: 0px;
    height: 100%;
    width: 100%;
    display: table;
}

#mainBody {
    //margin:0 auto;
    display:table-cell;
    vertical-align: middle;
}

.month table {
    border-style: solid;
    border-width: 2px;
    border-color: black;
    table-layout: fixed;
    border-radius: 15px;
}

.modalDialog {
    position: fixed;
    font-family: Arial, Helvetica, sans-serif;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.8);
    z-index: 99999;
    opacity: 0;
    visibility: hidden;
    -webkit-transition: opacity 400ms ease-in;
    -moz-transition: opacity 400ms ease-in;
    transition: opacity 400ms ease-in;
    pointer-events: none;
}

.modalDialog:target {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}

.modalDialog > div {
    width: 400px;
    position: relative;
    margin: 10% auto;
    padding: 5px 20px 13px 20px;
    border-radius: 10px;
    background: #fff;
    background: -moz-linear-gradient(#fff, #999);
    background: -webkit-linear-gradient(#fff, #999);
    background: -o-linear-gradient(#fff, #999);
}

.close {
    background: #606061;
    color: #FFFFFF;
    line-height: 25px;
    position: absolute;
    right: -12px;
    text-align: center;
    top: -10px;
    width: 24px;
    text-decoration: none;
    font-weight: bold;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    border-radius: 12px;
    -moz-box-shadow: 1px 1px 3px #000;
    -webkit-box-shadow: 1px 1px 3px #000;
    box-shadow: 1px 1px 3px #000;
}

.close:hover {
    background: #00d9ff;
    text-decoration: none;
}

nav#leftNav {
    text-align: left;
    float: left;
}

nav#rightNav {
    text-align: right;
}

.today {
    height: 120px;
    width: 170px;
    margin: 0 auto -10px;
    padding: 10px;

    border: 0px solid black;
    border-radius: 15px;

    font-family: 'PT Sans', arial, serif;
    text-align: left;
    font-size: 12px;
}

td.normalDay {
    height: 120px;
    width: 170px;
    margin: 0 auto -10px;
    padding: 10px;

    border: 0px solid black;
    border-radius: 15px;

    font-family: 'PT Sans', arial, serif;
    text-align: left;
    font-size: 12px;
}

div#normalDayContent {
    font-family: 'PT Sans', arial, serif;
    height: 120px;
    width: 170px;
    color: #ff1503;
    text-align: left;
    font-size: 12px;
    overflow: auto;
    height: 95%;
    white-space: nowrap;
}

div.bar {
    width: 100%;
    height: 1px;
    background: #FFFFFF;
    overflow: hidden;
}
